{% load staticfiles %}
<style type="text/css">
    .back-blue{
        background:url('{% static 'img/test/blue_back.jpg' %}') no-repeat center center fixed;
        background-size: 100%;
    }
</style>
<a class="anchor"  id="development"></a>
<div class="layer-blue blue">
    <div class="container">
        <div class="top-container vertical-align">
            <div class="row">
                <div class="col-sm-12">
                    <h1> Development </h1>
                    <div class="col-sm-6" style="padding-left:0;margin-top:1.0em;">
                        <p class="about-home-title">
                        Anything that you do for more than a few times can and should be automated. Work smart - not hard.
                        </p>    
                    </div>
                </div>
                <div class="col-sm-6">
                    <p class="about-p">                
                     Computational Design is something that we like and do<!-- link in future  -->. When we speak about computation in architecture, however, we sometimes forget that programming, coding, scripting or whatever you might call it, can be used to automate staple processes during our design stage. How would you like it if you never ever had to dimension your drawing at the end of an exhausting race with the deadline? That is entirely <a href="http://helpcenter.graphisoft.com/guides/archicad-18-int-reference-guide/documentation/annotation/dimensioning/automatic-exterior-dimensioning/" target="_blank">possible</a> in ArchiCAD for example. 
                     </p>                 
                     <p class="about-p"> You can automate your way to more time and freedom from all the tedious time-wasting tasks. As a rule of thumb, if you find yourself evoking the same action for more than a few times in a row, then you can write a script for it. Having to rename 150 sheets because the client changed the name? This can be <a href="{% url 'blog' %}2" target="_blank">done</a> in less then 5 minutes. The value comes from the fact that, once the script is created, you and everyone on your team can use that script forever.</p>  
                     <p class="about-p"> A great example of this is Michael Kilkelly's <a href="http://archsmarter.com/" target="_blank">ArchSmarter</a>. He is one of the main proponents for Revit macros on the web and his blog spot is a great source of inspiration as well as handy macros - if you are interested at all in Development, make sure to check him out.</p> 
                </div>          
                <div class="col-sm-6">    
                     <p class="about-p"> These are some of the things we do:
                    </p>             
                    <ul>
                        <li> REVIT API (Custom Tools for Revit) </li>
                        <li> .NET Apps </li>
                        <li> C# scripts </li>
                        <li> Python </li>
                    </ul>
                    <ul>
                        <li> Dynamo </li>
                        <li> Grasshopper </li>
                        <li> Processing </li>
                        <li> Arduino </li>
                    </ul>    
                     <p class="about-p">
                         If you need ideas on automation and writing custom Revit plug-ins, give us a <a href="{% url 'contact' %}" target="_blank">call</a> and watch us shine - we love coding! We will also give you information about pricing structure, time and availability.
                    </p>                                     
                     <p class="about-p"> Hope to see you around!
                    </p>  
                </div>    
            </div>
        </div>
    </div>
</div>