{% load staticfiles %}
<style type="text/css">
    .back{
        background:url('{% static 'img/test/orange_back.jpg' %}') no-repeat center center fixed;
        background-size: 100%;
    }
</style>
<a class="anchor"  id="management"></a>
<div class="layer red">
    <div class="container">
        <div class="top-container vertical-align">
            <div class="row">
                <div class="col-sm-12">
                    <h1> BIM Management </h1>
                    <div class="col-sm-6" style="padding-left:0;margin-top:1.0em;">
                        <p class="about-home-title">
                        With <strong>micro</strong> and <strong>small architectural studios</strong> in mind, our BIM Management service revolves around bringing you the latest industry standards in a sustainable and affordable fashion. 
                        </p>    
                    </div>
                </div>
                <div class="col-sm-6">
                    <p class="about-p">                
                     As the author William Gibson <a href="https://en.wikiquote.org/wiki/William_Gibson" target="_blank">said</a>: "The future is already here — it's just not very evenly distributed." For the last few years, the Construction Industry has seen a number of innovations. Building Information Modelling (BIM) is among the ones that changed the way we, as architects, approach our everyday work, giving BIM a sort of 'disruptive technology' status. And for a good reason. 
                     </p>
                    <p class="about-p">                
                     While it may seem as though the jury is still out on whether BIM is a necessity, a useful but difficult tool to implement or a sheer luxury for architectural practices, in reality, the big leaders in our field already made the transition to BIM - despite the challenges. And while they were able to offset the issues that accompany the task of enforcing new practices in a big scale with hiring the right people in good numbers, that may not be the case for micro and small practices. On the flip side, the smaller the practice, the fewer machine parts there are to move.
                     </p>   
                     <p class="about-p"> Enter Archilizer. We have been doing Revit since 2009 and we have worked with many different companies along the way. We have followed the currents of the industry for years.
                    </p>  
                     <p class="about-p"> Now we are in the position to join your team for just the right amount of time, giving you the boost in expertise you need to make the transition to BIM yourself. 
                    </p>   
                </div>    
                <div class="col-sm-6">    
                     <p class="about-p"> This is what we bring to the table:
                    </p>        
                    <ul>
                        <li> Setting up office standards </li>
                        <li> Template files </li>
                        <li> Folder structure </li>
                        <li> Establishing procedures on coordination workflow - linking files and data </li>
                    </ul>
                    <ul>
                        <li> BEP (BIM Execution Plan) </li>
                        <li> EIR (Employer's Information Requirements) </li>
                        <li> COBie standards </li>
                        <li> NBS Create implementation </li>
                        <li> Navisworks coordination, Autodesk 360, Solibri </li>
                        <li> PAS 1192, BS 1192 </li>
                    </ul>                
                     <p class="about-p"> If you find that relevant ot your current business needs or you need a quote, <a href="{% url 'contact' %}" target="_blank">drop us a line</a> and we will set up a meeting absolutely free of charge where we will hear you out and make our best to give you our professional advice, even if that means sending you to someone else. And don't forget - we only operate in the Great City of London!
                    </p>                
                     <p class="about-p"> Thank you for your time.
                    </p>  
                </div>    
            </div>
        </div>
    </div>
</div>