{% load staticfiles %}
<a class="anchor"  id="training"></a>
<div class="layer-white whites">
    <div class="container">
        <div class="top-container vertical-align">
            <div class="row">
                <div class="col-sm-12">
					<h1> Revit Training </h1>
	                <div class="col-sm-6" style="padding-left:0;margin-top:1.0em;">
	                    <p class="about-home-title">
	                    We understand that all our customers are unique and we tailor our approach to acknowledge that. We'd love to meet you and discuss your backround, the scope of your work and your ambitions. We strive to make our services as personalized as possible, <a href="{% url 'contact' %}" style="font-size:16px;" target="_blank">give us a call</a> and we will arrange everything for you - your first consultation with us is always free. 
	                    </p>    
	                </div>
                </div>
                <div class="col-sm-6">
                    <p class="about-p">                
                     Our Training services are concerned with installing and enhancing your command of Revit. It can take the form of individual or group training sessions and is aimed at Architects who wish to pick up Revit quickly and effortlessly. In creating the best possible service for you, we will take into account factors such as your previous experience with Revit or similar BIM and/or CAD software packages, your aptitude of picking new material and perhaps your focus on a singular module of our training program (we look at you 'Parametric Components'). 
                     </p>
                     <p class="about-p"> Here is a rough overview of what we can show you:
                    </p>      
					<ul>
						<li> Interface </li>
						<li> Geometry </li>
						<li> Views and Sheets </li>
						<li> Schedules </li>
					</ul>
					<ul>
						<li> Annotations </li>
						<li> Rooms and Areas </li>
						<li> Families </li>
						<li> Adaptive Components </li>
					</ul>               
	                 <p class="about-p"> Once again we have the individual customer in mind. If you are an architect who needs to get a fresh skill in his toolbox or a small team after the basics of efficient Revit collaboration, we are the right choice for you. And before you <a href="{% url 'contact' %}" target="_blank">contact us</a>, take a look at some other resources for (free) training.
	                </p>    
                </div>          
                <div class="col-sm-6">               
                 	<p class="about-p"> <a href="http://academy.autodesk.com/software/revit" target="_blank">Autodesk Design Academy</a> is a great place to start teaching yourself the basic of Revit, or any other Autodesk Software for that matter. Autodesk offers free video tutorials for all levels of experience on a number of topics. And since it is their own resource of knowledge, you can count on its relevancy.</p>        
                 	<p class="about-p"> Yougotit! - it's <a href="https://www.youtube.com/" target="_blank">Youtube</a>! Revit has gathered a good amount of support from its community over the years and there are many informative and up-to-date videos on all sorts of topics. Also free and quite handy to get used to - no matter what pickle you find yourself in, a quick search in Google and Youtube can solve your problem.</p>       
                 	<p class="about-p">If you are after some serious corporate training <a href="http://www.excitech.co.uk/training/revit-training-courses.asp" target="_blank">Excitech</a>! are among the best and most ackowledged sources of everything Autodesk related - they not only provide excellent Software Training courses but are also the main supplier of Autodesk Product licences in the London area. Also, keep an eye for seminars, lectures and other events they organize - they have gathered an amazing team and the information they provide is cutting-edge.</p>        
                 	<p class="about-p"> There are many ways to learn a new skill and there is no cookie-cutter method of picking up a craft. Practice does make perfect and genuine interest in Revit will go a long way - while it can feel rough around the edges sometimes, it is an amazing tool for design, communication and documentation of architectural content. Watch our <a href="{% url 'contact' %}" target="_blank">blog space</a> for some more advanced tutorials and features.
                    </p>    
                 	<p class="about-p"> Thanks for stopping by!
                    </p>  
                </div>    
            </div>
        </div>
    </div>
</div>