beautifulsoup4==4.4.1
Django==1.9.1
dj-stripe==0.3.5
django-crispy-forms==1.5.2
django-nocaptcha-recaptcha==0.0.19
django-registration-redux==1.2
django-tinymce==2.0.6
django-webtest==1.7.8
image==1.4.1
optional-django==0.1.0
Pillow==3.0.0
python-dateutil==2.4.0
pytz==2015.7
six==1.10.0
vobject==0.8.2
waitress==0.8.10
WebOb==1.5.1
WebTest==2.0.20
