{% extends 'uc/uc_layout.html' %}
{% load crispy_forms_tags %}


{% block content %}
  <div class="container">
    <div class="row">
  	  <div class="col-sm-4 pull-right under-construction-panel">
    			<h1 style="font-size: 2em;">UNDER CONSTRUCTION</h1>
    			<p style="margin-bottom:1.5em; color: #D9D9D9">Free material coming your way. Let us tell you when!</p>
            <form method='POST' action=''>{% csrf_token %}
              {{ form|crispy }}
              <input class="btn btn-default" style="position:absolute; bottom: 1em;"type="submit" value="Sign Up">
      			</form>		
  	  </div>
    <div>
  </div>
{% endblock %}

