/* COLOR SCHEME */
/* ORANGE LIGHT:; #D1570D */
/* BASE  GREY0: #FBFBFB; */
/* light GREY1: #FDFDFD */
/* light GREY2: #E1E1E1 */
/* light GREY3: #C4C4C4 */
/* medium GREY: #8E8E8E */
/* darker GREY4: #4B4B4B */
/* almost BLACK: #141414 */
/* blue2: #0088CC */
/* PINK: #E81E48 */


/* back up COLOR SCHEME */
/* RED: #D1570D  */ 
/* dark PINK:; #61192B */
/* BASE  GREY0: #FBFBFB; */
/* light GREY1: #FDFDFD */
/* light GREY2: #E1E1E1 */
/* light GREY3: #C4C4C4 */
/* medium GREY: #8E8E8E */
/* darker GREY4: #4B4B4B */
/* almost BLACK: #141414 */
/* blue : #E68B54 */ 
/* blue2: #0088CC */
/* PINK: #E81E48 */
html, body{
    height:100%;
}
body{
    background-color: #FBFBFB ;
}
.btn-margin{
    margin-top: 2em;
}
/* text formatting */
h1, h4, h5{
    font-family: 'Open Sans', sans-serif;
    font-weight: thin;  
    line-height: 150%;
}
h1{
    font-size: 2em;
}
h2 {    
    font-size: 1.6em;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;  
    /*color:#E68B54;*/
    line-height: 150%;
}
h3{
    font-family: 'Open Sans', sans-serif;
    font-weight: medium;    
    font-size: 14px;  
    text-transform: uppercase;
}
p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300; 
    line-height: 150%;   
    font-size:14px;  
}
a{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;    
    font-size: 12px;  
    color:#0088CC;
    text-decoration:none;
    margin:0;
    padding: 0;
}
a:hover{
    color:#005580;
    text-decoration:underline;
}
.nav a{
    text-transform: uppercase;
}
ul{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;      
}
li {
    color: #8E8E8E; /* or whatever color you prefer */
}
h1{
    /*padding-bottom: 1em;*/
}
.dropdown-menu li{
    margin-bottom: 0.2em;
}
.side-bar hr{    
    border:none;
    border-top:1px dotted #E1E1E1;
    height:1px;
    width:100%;
    margin-bottom:5px;
    margin-top:5px;
}
.side-bar li{
    border-bottom:1px dotted #E1E1E1;
    color:#E1E1E1;
    padding:4px 0;
}
strong {
    color:#8E8E8E;
}
.strong-light {
    color:#F6640C;
}
.h2-buttons{
    font-size: 24px;
    font-weight: 100;
    color:#D1570D;
    position:absolute;    
    top:calc(50% - 20px);
    left:50%;
    transform: translate(-50%, -50%);
}
.h3-title{
    margin-bottom: 1em;
}
.h3-blog-post-title{
    font-size: 20px;  
    font-weight: 300;  
    position:absolute;
    top:35%;
    transform: translateY(-50%);
}
.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}
.text-align-center{
    text-align: center;
}
.layer {
    background-color: rgba(0, 0, 0, 0.5);
}
.layer-white {
    background-color:#FDFDFD;
    padding: 1.5em 0 2.5em 0;
}
.layer-blue {
    background-color: #0088CC;
    padding: 1.5em 0 2.5em 0;
}
.front-title{
    font-weight: 800;
    font-size:52px !important;
}
.title{
    position:absolute;
    width:100%;
    bottom:0;
    background-color: #fff;
    padding:0.5em;
    /*text-align: center;*/
    height:4em;
}
.sub-title{         
    font-size: 18px;
    padding-bottom: 1em;
}
.sub-title h1{
    font-size: 1.3em;
}
.text-h{
    color:#fff;    
    font-weight: 800;
    font-size:24px; 
    position:absolute;
    left:0.8em;
    top:2.2em;    
}
.fa-center{
    display:inline-block;
    font-size: 36px;
    line-height: 50px;
    width:100%;
    height: 50px;
    text-align: center;
    color:#FFFFFF;
}
.fa-vertical-center{
    position: relative;
    top:0;
    transform: translateY(calc(100% + 4px));    
}
/* layout */f
.wrapper{
    position:relative;
    min-height:82%;
    height: auto !important;
    height:100%;
    margin: 0 auto -4em;
    margin-bottom: 0px !important;
}
.footer-border{
    /*border-top:dashed;*/
    border-width: 1px;
    border-color: #E1E1E1;
}
.jumbotron{
    background-color: #FFF;
    min-height: calc(39.2vh - 80px);
}
.content{
    min-height:400px;
    height: 100%;
    margin-bottom: 7em;
}
.sub-content: {
    width:100%;
    position: relative;
}
@media ( min-width:768px ) {
    .vertical-align {
        display: flex;
        align-items: center;
        flex-direction: row;
    }    
    .horizontal-align {
      text-align: right !important; 
    }
}
.horizontal-align {
  text-align: center; 
}
.top-container{
    min-height: 620px;
}
.featured-container{
    background-color: #FBFBFB;
    margin: auto;
    width:auto;
    padding: 1em 0 0 0;
    border-color: #E1E1E1;
    text-align: center;
}
.default-container{
    text-align: left;
    position: relative;
}
.box-shadow-content{
    box-shadow: 0px 4px 15px rgba(40,40,40, 0.4);
}
/* general */
.captions{
    color:#141414;
    font-size: 16px;
    position:relative;
    transform: translateY(80%);
}
.break-word {
        word-wrap: break-word;
}
.bottom-container{    
    margin: auto;
    padding-top:3em;
    width:auto;
    min-height: 10em;
    height:100%;
}
.grey-container{    
    background-color: #F5F5F5;
}
.gradient{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fbfbfb+0,f5f5f5+100 */
    background: #fbfbfb; /* Old browsers */
    background: -moz-linear-gradient(top,  #fbfbfb 0%, #f5f5f5 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #fbfbfb 0%,#f5f5f5 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #fbfbfb 0%,#f5f5f5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfbfb', endColorstr='#f5f5f5',GradientType=0 ); /* IE6-9 */
}
.lead{
    font-size: 18px;
    line-height: 150%;
}
/* home */
.sign-up{
    margin: 70px 0em 1em 0em;
}
.about-home-p{
    font-size: 16px !important;
    color:#E1E1E1;
}.about-home-p a{
    font-size: 16px !important;
    color:#FFFFFF;
}
.about-home-title{
    margin-bottom: 2em;
    font-size: 18px !important;
    color:#FBFBFB;
    font-weight: 500;    
}
.white{
    /*font-family: CaviarDreams, Helvetica, Arial-Narrow;*/
    /*font-family: 'Roboto', sans-serif;*/
    color:#fff;
    font-weight: 300;
    line-height: 150%;
    font-size: 2.8em;
    /*line-height: 40px;*/
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.grey{
    /*font-family: CaviarDreams, Helvetica, Arial-Narrow;*/
    /*font-family: 'Open Sans', sans-serif;*/
    color:#F5F5F5;
    font-weight: 300;
    line-height: 150%;
    font-size: 1.2em;
    /*line-height: 40px;*/
    letter-spacing: 0.02em;
    /*text-transform: uppercase;*/
}
.middle{
    position:absolute;
    top:calc(50% - 0.7em);
    transform: translate( 0%,-50%);    
}
.middle-right{
    position:absolute;
    top:calc(50% - 0.7em);
    right:0;
    transform: translate( 0%,-50%);    
}
.scroll-down{
    font-size: 12px;
    background-color: auto;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    top:0;
    left: 50%;
    margin-left: -20px;
}
.scroll-down:hover{
    opacity: 0.5; /* css standard */
    filter: alpha(opacity=50); /* internet explorer */
    transition: opacity .5s ease-out;
    -moz-transition: opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out;
    -o-transition: opacity .5s ease-out;
}
.empty{
    margin-top: 6em;
}
.round{
    position:relative;
    /*left:0;*/
    display: table;
    margin: 0 auto;
    margin-top: 30px;
    /*transform: translate(90px,0);*/
    width: 169px;
    height: 169px;
    border-radius: 100%;    
    border-style: solid;
    border-color: #FFFFFF;
    border-width: 5px;
    background-color: #E1E1E1;    
    box-shadow: 0px 4px 15px rgba(40,40,40, 0.4);
    /*overflow: hidden;*/
    /*transform: scale(0.8);*/
}
.round img{
    position:center;
}
.tint{
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,255,255, 0.5);
    }
/* contacts */
/* blog */
.rounded_corners{
    border-style: solid;
    border-width: 1px;
    border-color: #E1E1E1;
    border-radius: 5px
}
.blog-container{
    padding: 1em;
    margin-bottom: 2em;
}
.time{
    color: #8E8E8E;
    padding: 1em 0 1em 0;
}
.blog-header h2{
    color:#4B4B4B;
}
.block-post-body{
    position: relative;
/*    margin-bottom: 1.5em;
    margin-top:2.5em;*/
    width:auto;
    padding: 1.5em 0em 1.5em 0em;  
}
.blog-sidebar-box{
    margin-bottom: 1.5em;
    /*background-color: #fff;*/
    padding: 0.5em 0em 1.5em 1.5em;  
}
.sidebar{    
    position:relative;
    top:0;
    left:0;
    padding-left:40px;
}
.sidebar a{
    font-size: 0.9em;
    line-height: 20px;
}
.form-control{
    /*border-radius: 0 !important;*/
    border-style: none !important;
    background-color: #bcc0c3;
    border: none;
    color: #ffffff !important;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    height: 50px;
    font-size: 16px;
    border-radius: 4px;  
    vertical-align: bottom;
}
.form-control.form-name {
    width: 145px;    
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    color:#fff;
    margin-left:8px;
}
.form-control.form-email {
    width: 215px;    
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding-left: 12px;
    color:#fff;
}
.form-control.form-field {
    width: 100%;    
    color:#fff;
}
.form-control::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #fff;
}
.form-control:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #fff;
   opacity:  1;
}
.form-control::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #fff;
   opacity:  1;
}
.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #fff;
}
.submit{
    padding: 12px 14px;
    height: 50px;
    width: 85px;
    margin-left: 6px;
    font-size: 12px;
    text-transform: uppercase;    
    vertical-align: bottom;
}
.top
{
  position:absolute; 
  width:100%;
  height:100%;
  top:0;
  left: 0;
}
.col-bombon{
    position:relative;
    min-height:209px;
    min-width:339px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-style: solid;
    border-color: #FBFBFB;
    border-width: 10px;
    background-color: rgba(1,2,12,1);

    overflow: hidden;
}
.col-bombon:hover .cover{
    -webkit-filter: grayscale(1) opacity(.3) brightness(50%);
    filter: grayscale(1) opacity(.3) brightness(50%);

    transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -webkit-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
}
.grid{
    padding: 2px !important;
}
.holder{
    margin-top:2em;
    min-height: 200px;
}
.cover{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-filter: grayscale(1) opacity(.8) brightness(120%);
    filter: grayscale(1) opacity(.8) brightness(120%);

    position: absolute;
    transform: translate(calc(-50%), calc(-50% + 100px));
    width:100%;
    height:auto;
}
.fa-button{
    color:white;
    position: absolute;
    top: 60%;
    left: 50%;
    transform:translate(-50%, -50%);
}

.panel{ 
    background-color:transparent;
    height:100%;
    left:0;
    opacity:0;
    position:absolute;
    top:0;
    width:100%;
    z-index:1;
}

.categories{
    vertical-align: bottom;
    text-align: right;
    color: #C4C4C4;
    line-height: 150%;
}

.blog-post{
    position: relative;
    margin-bottom: 0.5em;
    /*background-color: #8E8E8E;*/
    height:auto;
    max-height: 308px;
    width:auto; 
    overflow: hidden;
    padding: 0.2em;
    background:#FFFFFF;
    border:1px solid #E1E1E1;
}
.blog-post img{    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-filter: grayscale(1) opacity(.8) brightness(120%);
    filter: grayscale(1) opacity(.8) brightness(120%);
    height:auto;
    width:100%;
    transform: translateY(-100px);
}
.blog-post-text{
    margin-top: 1em;
    margin-bottom: 2.4em;
}
.blog-post-text-post strong{
    color: black !important;
}
.blog-post-text-post h1{
    font-weight: 600;
}
.blog-post-text p{
    font-size: 0.9em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300; 
    line-height: 150%;  
    color:#141414;  
}.blog-post-text ul{
    font-size: 0.9em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300; 
    line-height: 150%;  
    color:#141414;  
}
.blog-post-text-post{
    margin-bottom: 4em;
}
.blog-post-text-post li{
    font-size: 1.05em;
    font-style: italic;
    font-family: 'Roboto', sans-serif;
    font-weight: 300; 
    line-height: 150%;  
    color:#141414 !important;  
}
.blog-post-text-post p{
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400; 
    line-height: 1.5;  
    color:#333333;
    margin-bottom: 1.5em;
    margin-top: 1.5em;
}
.blog-post-text-post a{
    font-size: 1.05em;
}
.blog-post-text-post img{    
    background-size:cover;    
    height:auto !important;
    vertical-align:middle;
    width:100% !important;
    margin-bottom: 2.0em;
    margin-top: 2.0em;
}
.blog-post-text-post iframe{    
    border: none;
}
.blog-post:hover .cover{ 
    -webkit-filter: grayscale(0.2); 
    filter: grayscale(0.2);
    transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -webkit-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
}
.blog-post-body p img{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height:auto !important;
    width:100% !important;
    vertical-align:middle;    
}
.bottom{
    position: absolute;
    width:100%;
    top:1em;
    left:0%;
    transform: translate( 0%, 0%);
}
.time{
    float:left;
    position: absolute;
    left:50%;
    transform: translate( -50%, 0%);
}

/* comments */
.comment{
    margin-bottom: 3em;
}
.comment-author{    
    font-weight: thin;
    font-size: 12px;
    margin: 0.5em 0 0.5em 0;
    color:#4B4B4B;
}
/* about */
.non-container{
    padding-top: 4em;
    background-color: #FBFBFB;
}
.about img{    
    border-radius: 100%;    
    border-style: solid;
    border-color: #FFFFFF;
    border-width: 5px;
    background-color: #E1E1E1;    
    box-shadow: 0px 4px 15px rgba(40,40,40, 0.4);
    overflow: hidden;
}
.about a{
    font-size:14px !important;
}
.about p{    
    font-size: 14px;
    line-height: 150%;
    margin-bottom: 1.5em;
    font-weight: 300;
}
.about h3{
    font-size:14px;
    /*color:#8E8E8E;*/
    text-align: right;
    line-height: 150%;
    margin: 2em 0 2em 0;
}
.about strong{
    color:black;
}
@media ( min-width:768px ) {
    .special {
    text-align: left !important;
    margin-top: 3.4em !important;
    }   
}
.about-h{
    position:relative;
    margin-top:2em;
    margin-bottom: 4em;
    width:100%;
}
.about-p{
    font-size: 14px;
    line-height: 150%;
    margin-bottom: 1.5em;
    font-weight: 300;
    color:#C4C4C4;
}
.about-p-dark{
/*    font-size: 14px;
    line-height: 150%;
    margin-bottom: 1.5em;
    font-weight: 300;*/
}
.about-p-dark{
    color:black;
    font-weight: 500;
}
.about-p-special{
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 2em;
}
.about-content{    
    margin-bottom: 2em;
}
.icons{
    margin-top: 1em;
}
/* services */
.services h1{    
    text-transform: uppercase;
}
.services a{
    font-size: 14px;      
}
.services li{
    font-family: 'Open Sans', sans-serif;
    font-weight: medium;    
    font-size: 14px;  
    /*text-transform: uppercase;*/
    color:#141414;
}
.services ul{
    margin-bottom: 1.8em;
}

/* Donate */
.donate a{
    font-size:14px !important;
}
.donate p{    
    font-size: 14px;
    line-height: 150%;
    margin-bottom: 1.5em;
    font-weight: 300;
}
.donate h3{
    font-size:14px;
    /*color:#8E8E8E;*/
    text-align: right;
    line-height: 150%;
    margin: 2em 0 2em 0;
}
.donate strong{
    color:black;
}
.donate-h{
    position:relative;
    margin-top:2em;
    margin-bottom: 4em;
    width:100%;
}
.donate-p{
    font-size: 14px;
    line-height: 150%;
    margin-bottom: 1.5em;
    font-weight: 300;
    color:#C4C4C4;
}
.donate-p-dark{
    color:black;
    font-weight: 500;
}
.donate-p-special{
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 2em;
}
.donate-content{    
    margin-bottom: 2em;
}

a.anchor {
    display: block;
    position: relative;
    top: -50px;
    visibility: hidden;
}
.red{    
    background-color: #D1570D;
    padding: 1.5em 0 2.5em 0;
}
.red h1{
    color:white !important;
}
.red p{
    color:white !important;
    font-weight: 300;
}
.red a{
    color:#141414 !important;
    font-weight: bold;
    line-height:150%;
}
.red li{
    color:#FFFFFF;
}
.red strong{
    color:#FFFFFF;
}
.whites h1{
    color:black !important;
}
.whites p{
    color:#333333 !important;
    font-weight: 500;
}
.whites a{
    color:#141414 !important;
    font-weight: bold;
    line-height:150%;
    font-size:14px; 
    font-weight: 500; 
    color:#D1570D !important;
}
.whites li{
    /*color:#C4C4C4;*/
}
.blue h1{
    color:#141414 !important;
}
.blue p{
    color:#141414 !important;
    font-weight: 500;
}
.blue a{
    color:#141414 !important;
    font-weight: bold;
    line-height:150%;
    font-size:14px; 
    font-weight: 500; 
    color:#FBFBFB !important;
}
.blue li{
    /*color:#C4C4C4;*/
}
.h-middle{
    position:relative;
    /*top:50%;*/
    transform: translateY(0%);  
}
.training-p{
    font-size: 16px;
    margin-bottom: 0.1em;
}
.training{
    margin-bottom: 1.5em;
    padding-left: 1.5em;
    position:relative;
}

/* footer */
.short{
    background-color: #F5F5F5;
    padding-top: 2em;
}
.final-row{
    margin-top:3em;
    margin-bottom:2em;
    color:#8E8E8E;
}
.form-group{
    position:relative;
}
.contact{
    font-size: 14px;
    /*line-height: 80%;*/
}
.white-stripes{
    min-height:9px;
    background: repeating-linear-gradient(
    -45deg,
    #FBFBFB,
    #FBFBFB 10px,
    #E68B54 10px,
    #E68B54 20px
);
/*FBFBFB*/
/*D1570D*/
/*E68B54*/
}
/* modal */
.modal{
    color:#FBFBFB;
    font-family: 'Open Sans', sans-serif;
    font-weight: thin;  
    line-height: 150%;
    top:200px;
}
.modal small{
    color:#C4C4C4;
    font-family: 'Open Sans', sans-serif;
    font-weight: thin;  
    line-height: 150%;

}
.modal-content{
    text-align: center;
    background-color: black;  
    border-style: solid;
    border-color: #FFFFFF;
    border-width: 6px;
    border-radius: 3px;
}
.test{
    transform: scale(0.9);
}
.close{
    color:#FDFDFD;
}
.close:hover{
    color:#FFFFFF;
}

