html, body{
	height:100%;
}
body{
    background-color: #F5F5F5;
}
.wrapper{
	min-height:82%;
	height: auto !important;
	height:100%;
	margin: 0 auto -4em;
	margin-bottom: 0px !important;
}
.footer{
	border-top:solid 1px;
	border-color: #E1E1E1;
}
.text-align-center{
	text-align: center;
}

/* blog */
.rounded_corners{
    border-style: solid;
    border-width: 1px;
    border-color: #E8E8E8;
    border-radius: 5px
}
.blog-container{
/*    background-color: #FAFAFA;*/
    padding: 1em;
    margin-bottom: 2em;
/*    border-style: solid;
    border-width: 1px;
    border-color: #BDBDBD;
    border-radius: 5px*/
}
.title{
    font-size: 2em;
}
.time{
/*    float: left;*/
    color: #828282;
    padding: 1em 0 1em 0;
}
.blog-header{
    margin-bottom: 1em;
    font-size: 3em;
}
.box-blog{
    margin-bottom: 1em;
    background-color: #FFF;
    padding: 0.5em 1.5em 0.5em;  
/*    border-style: solid;
    border-width: 1px;
    border-color: #BDBDBD;
    border-radius: 5px*/
}

.form-control{
    border-radius: 0 !important;
    border-style: none !important;
}


/* endblog */