{% extends "blog/bloglayout.html" %}

{% block sidebar %}
{% include "blog/sidebar.html" %}
{% endblock %}

{% block topic %} {{ category.title }} {% endblock %}

{% block sub_content %}
<div class="row">
    <!-- Posts  -->
    {% if posts %}
        {% for post in posts %}
        <div class="col-sm-4">
             <div class="blog-post">
            <img  src='{{ MEDIA_URL }}{{ post.image }}' alt='image for particular blog post' class="cover" >
            <div class="title"><h3 class="h3-blog-post-title">{{ post.title }}</h3></div>
                <ul>
                    <div class="bottom">   
                        <div class="categories">{{ post.created|date:"F d"|upper }}</div>
                        {% for category in post.categories.all %}
                        <div class="categories">{{ category }}</div>
                        {% endfor %}
                    </div>
                </ul>
                <a href="{% url 'blog-post' post.pk %}">
                    <span class="panel"></span>
                </a>
        </div>
        </div>
        {{ post.text }}
    {% endfor %}
    <br />
    {% if page.has_previous %}
    <a href="/{{ page.previous_page_number }}/">Previous Page</a>
    {% endif %}
    {% if page.has_next %}
    <a href="/{{ page.next_page_number }}/">Next Page</a>
    {% endif %}
    {% else %}
    <p>No posts matched</p>
    {% endif %}
</div>

{% endblock %}