{% extends "blog/bloglayout.html" %}

{% block sidebar %}
{% include "blog/sidebar.html" %}
{% endblock %}


{% block sub_content %}
<div class="main">
    <!-- Posts  -->
    {% for post in posts %}
        <div class="blog-post">
            <div class="left-cell">
                <div class="title">{{ post.title }}</div>
                    <ul>
                        <div class="bottom">   
                            <div class="categories">{{ post.created|date:"F d"|upper }}</div>
                            {% for category in post.categories.all %}
                            <div class="categories">{{ category }}</div>
                            {% endfor %}
                        </div>
                    </ul>
                    <a href="{% url 'blog-post' post.pk %}">
                        <span class="panel"></span>
                    </a>
            </div>
            <div class="right-cell">
            </div>
        </div>
    {% endfor %}

    <!-- Next/Prev page links  -->
    {% if not archive and posts.object_list and posts.paginator.num_pages > 1 %}
    <div class="pagination" style="margin-top: 20px;">
        <span class="step-links">
            {% if posts.has_previous %}
                <a href= "?page={{ posts.previous_page_number }}">newer entries &lt;&lt; </a>
            {% endif %}

            <span class="current">
                &nbsp;Page {{ posts.number }} of {{ posts.paginator.num_pages }}
            </span>

            {% if posts.has_next %}
                <a href="?page={{ posts.next_page_number }}"> &gt;&gt; older entries</a>
            {% endif %}
        </span>
    </div>
    {% endif %}
</div>

{% endblock %}