{% extends "blog/bloglayout.html" %}
{% load crispy_forms_tags %}

{% block topic %} {{ post.title }} {% endblock %}
{% block head_title %} {{ block.super }}  {{ post.title }} {% endblock %}

{% block sub_content %}

<div class="main">
    <div class="sub-title">
        <div class="time">Created {{ post.created|date:"d F Y"|upper }} and filed under 
            {% for category in post.categories.all %}
            {{ category|upper }}
            {% endfor %}
        </div>
    </div>
    <div class="block-post-body">
        <div class="body">{{ post.body|safe }}</div>
    </div>
    <div  class="comment">
        {% if comments %}
            <h3 class="sub-title text-align-center" style="margin-bottom: -2em;">COMMENTS</h3>
                <form action="{% url 'blog-delete-comment' post.pk %}" method="POST">{% csrf_token %}
                    {% for comment in comments %}
                        <div class="block-post-body">
                            <div class="comment-author">User {{ comment.author }} commented .. </div>
                            <div class="comment-body">{{ comment.body }}</div>
                            <div class="comment-time">{{ comment.created|date:"d F Y \a\t h:m" }}</div>
                            {% if user.is_staff %}
                                <input type="checkbox" name="delete" value="{{ comment.pk }}">
                                <a href="{% url 'blog-delete-comment' post.pk comment.id %}">delete</a>
                            {% endif %}
                        </div>
                    {% endfor %}
                    {% if user.is_staff and comments  %}
                        <p><input type="submit" class="btn btn-default" name="1" value="Delete all selected"></p>
                        <br/>
                    {% endif %}
                    </form>
                {% endif %} 
        <div class="row">
            <div class ="col-sm-6">
            <!-- Comments  -->
                <div class="sub-title">ADD A COMMENT</div>
                <!-- Comment form  -->
                <form method="POST" action="{% url 'blog-add-comment' post.pk %}">{% csrf_token %}
                    {{ form|crispy }}
                    <div id="submit"><input type="submit" class="btn btn-default" name="2" value="Post it"></div>
                </form>        
            </div>
        </div>
    </div>
</div>

{% endblock %}