<div class="sidebar">
    <div class="blog-sidebar-box side-bar">
        <h4>Monthly Archive</h4><br/>
        {% for month in months %}
            {% ifchanged month.0 %} <br> {{ month.0 }} <br> <hr style="border-top-style:solid;">{% endifchanged %}
            <li>
                <a href="{% url 'blog-month' month.0 month.1 %}">{{ month.2 }}</a> 
            </li>
        {% endfor %}
    </div>
    <div class="blog-sidebar-box side-bar">
        <h4>Categories</h4><br/>
        {% for category in categories %}
        <li>
            <a href="{% url 'blog-category-pk' category.slug category.id %}">{{ category }}</a> 
        </li>
        {% endfor %}
    </div>
</div>