{% extends 'layout.html' %}
{% load staticfiles %}

{% block head_title %} About Us {{ block.super }} {% endblock %}

{% block content %}


{% endblock %}

{% block sub-content %}

 <style>
/* Custom style because of backgorund */
	body{   
	    background: url('{% static 'img/yemen.jpg' %}') no-repeat         
	        center center fixed;
	    -webkit-background-size: cover; 
	    -moz-background-size: cover; 
	    -o-background-size: cover; 
	    background-size: cover;     
	}	
	body{
		padding-top: 50px !important;
	}
</style>
<div class="layer">
	<div class="container">
		<div class="row top-container vertical-align">
			<div class="col-sm-6">
<!-- 				<h2> WHO WE ARE </h2>
				<br> -->
				<p class="about-home-title">
				 Hi there, I'm <strong>Deyan</strong>.
				</p>	
				<p class="about-p">				
				 I have always been passionate for computer science and its application in the field of Architecture and <strong style="color:#FDFDFD">Archilizer</strong> is my computationally oriented start-up.
				 </p>
				 <p class="about-p"> As an early adopter of Revit (2009), I have evangelized its potential and use through trainings, lectures and above all - by personally showcasing its ability to automate staple processes of the design workflow, thus increasing precision, accuracy and efficiency and allowing us, architects, to spend more time in what matters most - designing.
				</p>
				 <p class="about-p"> I support small architectural practices by bringing knowledge where it's needed. I hope that helps.
				</p>						
				 <p class="about-p"> Thanks for dropping by!
				</p>		
			</div>
			<div class="col-sm-3 horizontal-align about" style="margin-left: auto;">
				<img src="{% static 'img/test/deyan_nenov.jpg' %}" class="img-responsive" alt="about-us-image">	
			</div>
		</div>
	</div>
</div>
<div class="non-container">
	<div class="container about">	
		<div class="row">
				<div class="col-sm-6">
					<h2 style="margin-top:0em; margin-bottom: 2em;" id="we-do"> WHAT WE DO FOR YOU</h2>
				</div>
		</div>
		<div class="row">
				<div class="col-sm-6">					
					<p class="about-p-dark">
					Our <a href="{% url 'trainings' %}">services</a> are focused around creating value for individual architects or small practices. If you are in the business of delivering great design product in time while keeping up with the demands of the market, chances are we have something in store for you. 
					</p>

					<p class="about-p-dark" id="management"><strong> BIM Management </strong> is all about setting those standards correctly and right from the very start. Translating your architectural language to all the new requirements might feel overwhelming and challenging at first and taking more people on board hides risks and uncertainties. 
					</p>                

					<h3>
					The question is not 'Why BIM?'. The question is 'Why don't you give us your BIM?'
					</h3>
				</div>		
				<div class="col-sm-6">
					<p class="about-p-dark" id="training">We are here to give you the best of both worlds - all the knowledge that you need when you need it. No long-term overruns all the while keeping the expertise for yourself - we can train your team on the go. We are passionate about teaching our skills to those who start now.</p>

					<p class="about-p-dark" id="development">And to top it off, we develop custom (Revit) plugins - if you are following our <a href="{% url 'blog' %}">blog</a> you will be able to find ideas on how to make, or even download some powerful features for free - yes, we love Open Source.
					</p>    
					<h3  class="special"> We know <strong>BIM</strong>, <strong>Revit</strong> and how to make it simpler for you.</h3> 

				</div>
		</div>
		<div class="row">
				<div class="col-sm-6 pull-right" style="margin-top:0em;">					
					<p>
					Whatever the case, just <a href="{% url 'contact' %}">contact us</a> and we will find the best solution for your needs.
					</p>  
				</div>
		</div>
	</div>
</div>

{% endblock %}
