<p class="about-p">
 At <strong>Archilizer</strong> We do BIM, Revit and solve time-consuming problems in creative, computational ways. Here you will be able to find custom tools for Revit. Simply follow the instructions and start using some powerful features for free - yes, we love Open Source. We are also passionate about teaching our skills to those who start now. 
<a href="{% url 'contact' %}">Contact us</a> and we will create a <strong>custom</strong> training course for you and your practice. 
</p>	
