<p class="about-p-dark">
Our <a href="{% url 'trainings' %}">services</a> are focused around creating value for individual architects or small practices. If you are in the business of delivering great design product in time while keeping up with the demands of the market, chances are we have something in store for you. 
</p>

<p class="about-p-dark" id="management"><strong> BIM Management </strong> is all about setting those standards correctly and right from the very start. Translating your architectural language to all the new requirements might feel overwhelming and challenging at first and taking more people on board hides risks and uncertainties. 
</p>                

<h3>
The question is not 'Why BIM?'. The question is 'Why don't you give us your BIM?'
</h3>

<p class="about-p-dark" id="training">We are here to give you the best of both worlds - all the knowledge that you need when you need it. No long-term overruns all the while keeping the expertise for yourself - we can train your team on the go. We are passionate about teaching our skills to those who start now.</p>


<p class="about-p-dark" id="development">And to top it off, we develop custom (Revit) plugins - if you are following our <a href="{% url 'blog' %}">blog</a> you will be able to find ideas on how to make, or even download some powerful features for free - yes, we love Open Source.
</p>    

<h3>We know <strong>BIM</strong>, <strong>Revit</strong> and how to make it simpler for you.</h3> 


<p>
Whatever the case, just <a href="{% url 'contact' %}">contact us</a> and we will find the best solution for your needs.
</p>    


<!-- </strong> We are here to support your Architectural ideas by tackling the complex challenges you face.  -->