{% extends 'layout.html' %}
{% load staticfiles %}

{% block head_title %} About Us {{ block.super }} {% endblock %}

{% block content %}
<style>
/* Custom style because of backgorund */
	body{   
	    background-color:black;  
	}	
	body{
		padding-top: 50px !important;
	}
	.head_title{
		margin:2em 0 2em 0;
	}
</style>

<div class="col-sm-12 head_title">
	<h1 class="white text-align-center">
		The question is not 'Why BIM?'. The question is 'Why don't you give us your BIM?'
	</h1>
	<h3 class="grey text-align-center">At <strong>Archilizer</strong> we create value through saving time. <strong>Your time.</strong> We are here to support your Architectural ideas by tackling the complex challenges you face. We know <strong>BIM</strong>, <strong>Revit</strong> and how to make it simpler for you.
	</h3>
</div>
{% endblock %}


{% block sub-content %}
<div class="row featured-container" style="padding-bottom:4em;">
	<div class="col-xl-12">
		<span class="text-align-center">			
			<h2 style="margin-top:0.5em; margin-bottom: 0.5em;" id="we-do"> WHAT CAN WE DO FOR YOU</h2>
		</span>
	<div class="container default-container">
		<div class="col-sm-12">
			{% include 'about.html' %}
		</div>
	</div>
		<div class="container">
			<hr>
		</div>
	</div>

	<div class="col-xl-12">
		<span class="text-align-center">			
			<h2 style="margin-top:0.5em; margin-bottom: 0.5em;" id="we-do"> WHO WE ARE </h2>
		</span>
	</div>

	<div class="container default-container">	
		 <div class="col-sm-8">
			<p class="about-p">
			<strong>Archilizer</strong> is the computationally oriented start-up of architect <strong>Deyan Nenov</strong>.</p>
			<p class="about-p" style="color:#7E7E7E; font-size:16px; padding-right:5em;">
			<i>
			 "I have always been passionate for computer science and its application in the field of Architecture. As an early adopter of Revit (2009), I have evangelized its potential and use through trainings, lectures and above all - by personally showcasing its ability to automate staple processes of the design workflow, thus increasing precision, accuracy and efficiency and allowing us, architects, to spend more time in what matters most - designing."</i>
			</p>	
		</div>			
		<div class="col-sm-3 pull-right">
			<img src="{% static 'img/test/deyan_nenov.jpg' %}" class="img-responsive" alt="about-us-image">
		</div>
		<div class="col-sm-8" style="margin-top:2em;">
			<p class="about-p">We are focused on creating and implementing robust solutions by developing custom algorithms with various application in the design process. We also engage in computational in nature design projects - we have won several competitions in urban prototyping and have exhibited in V&A London. 
			</p>	
		</div>	
	</div>
</div>

{% endblock %}

