<footer class="short" style="background-color: #FFF;" id="footer">
    <div class="container">
        <div class="row">
            <br/>
            <div class="col-md-9">
                <h4>About</h4>
                <p>BIMobject® Corporation, acknowledged by investors with a Global Red Herring 100 award, and a public company on NASDAQ OMX: ticker BIM.&nbsp; We are Europe's largest and fastest growing digital content management system for BIM objects. Our unique solutions for manufacturers provide development, hosting, maintenance, syndication and publication of the digital replicas of manufactured products – BIM objects.</p>
                <hr class="light">
                <div class="row">
                    <div class="col-md-3">
                        <h5>About Us</h5>
                        <ul class="list icons list-unstyled">
                            <li><i class="icon icon-caret-right"></i> <a href="http://info.bimobject.com/bimobject-offices" target="_blank">Our Offices</a></li>
                            <li><i class="icon icon-caret-right"></i> <a href="/en/account/useragreement" class="fancybox">End User License Agreement</a></li>
                            <li><i class="icon icon-caret-right"></i> <a href="http://twitter.com/bimobject" target="_blank">BIMobject Twitter</a></li>
                            <li><i class="icon icon-caret-right"></i> <a href="http://youtube.com/user/BIMobject/videos" target="_blank">BIMobject YouTube</a></li>
                            <li><i class="icon icon-caret-right"></i> <a href="http://www.mynewsdesk.com/uk/pressroom/bimobject" target="_blank">Pressroom</a></li>
                            <li><i class="icon icon-caret-right"></i> <a href="http://info.bimobject.com/investerare" target="_blank">Investor Relations</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <h5>For BIM users</h5>
                        <ul class="list icons list-unstyled">
                            <li><i class="icon icon-caret-right"></i> <a href="http://info.bimobject.com/why-bim/18767/Page" target="_blank">Why BIM?</a></li>
                            <li><i class="icon icon-caret-right"></i> <a href="http://info.bimobject.com/integrated-process/18780/Page" target="_blank">Integrated process</a></li>
                            <li><i class="icon icon-caret-right"></i> <a href="http://info.bimobject.com/2d-3d-quantitites/18819/Page" target="_blank">2D-3D- quantities</a></li>
                            <li><i class="icon icon-caret-right"></i> <a href="http://info.bimobject.com/visualisation/18820/Page" target="_blank">Visualisation</a></li>
                            <li><i class="icon icon-caret-right"></i> <a href="http://info.bimobject.com/communication/18823/Page" target="_blank">Communication</a></li>
                            <li><i class="icon icon-caret-right"></i> <a href="http://info.bimobject.com/18845/Contact" target="_blank">Contact us</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <h5>Product Manufacturers</h5>
                        <ul class="list icons list-unstyled">
                            <li><i class="icon icon-caret-right"></i> <a href="http://info.bimobject.com/be-visible/18826/Page" target="_blank">Be Visible</a></li>
                            <li><i class="icon icon-caret-right"></i> <a href="http://info.bimobject.com/get-specified/18829/Page" target="_blank">Get Specified</a></li>
                            <li><i class="icon icon-caret-right"></i> <a href="http://info.bimobject.com/how-to-make/18833/Page" target="_blank">Creation process</a></li>
                            <li><i class="icon icon-caret-right"></i> <a href="http://info.bimobject.com/services/18836/Page" target="_blank">Object creation</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <h5>Solutions for Manufacturers</h5>
                        <ul class="list icons list-unstyled">
                            <li><i class="icon icon-caret-right"></i> <a href="http://info.bimobject.com/services/18836/Page" target="_blank">BIM object services</a></li>
                            <li><i class="icon icon-caret-right"></i> <a href="http://info.bimobject.com/bimobject-portal/20828/Page" target="_blank">BIMobject® Cloud</a></li>
                            <li><i class="icon icon-caret-right"></i> <a href="http://info.bimobject.com/bim-analytics/18849/Page" target="_blank">BIManalytics™</a></li>
                            <li><i class="icon icon-caret-right"></i> <a href="http://info.bimobject.com/solutions/private-clouds/21231/Page" target="_blank">BIMobject® Private Clouds</a></li>
                            <li><i class="icon icon-caret-right"></i> <a href="http://info.bimobject.com/BIMobject-Apps" target="_blank">BIMobject® Apps</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <h4 class="short">Contact us</h4>
                <ul class="list icons list-unstyled pull-top">
                    <li><i class="icon icon-map-marker"></i> <strong>BIMobject Corporate headquarters</strong><br>Media Evolution City<br>Stora Varvsgatan 6 A<br>211 19 Malmö, Sweden</li>
                    <li>&nbsp;</li>
                    <li><i class="icon icon-phone"></i> +46 40 685 29 00</li>
                    <li><i class="icon icon-envelope"></i> <a href="mailto:info@bimobject.com">info@bimobject.com</a></li>
                </ul>
                <div class="social-icons push-top">
                    <ul class="social-icons">
                        <li class="facebook"><a href="https://www.facebook.com/bimobject" target="_blank" title="Facebook">Facebook</a></li>
                        <li class="twitter"><a href="https://www.twitter.com/bimobject" target="_blank" title="Twitter">Twitter</a></li>
                        <li class="pinterest"><a href="https://www.pinterest.com/bimobject" target="_blank" title="Pinterest">Pinterest</a></li>
                        <li class="googleplus"><a href="https://www.google.com/+Bimobjectofficial" target="_blank" title="Google+">Google+</a></li>
                        <li class="youtube"><a href="https://www.youtube.com/user/BIMobject/videos" target="_blank" title="Youtube">Youtube</a></li>
                        <li class="linkedin"><a href="https://www.linkedin.com/company/bimobject" target="_blank" title="Linkedin">Linkedin</a></li>
                        <li class="flickr"><a href="https://www.flickr.com/bimobject" target="_blank" title="Flickr">Flickr</a></li>
                        <li class="mynewsdeskicon hidden"><a href="http://www.mynewsdesk.com/uk/bimobject" target="_blank" title="MyNewsDesk">MyNewsDesk</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <p>© Copyright 2013 by BIMobject®. All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>