<footer class="short" style="background-color: #FFF;" id="footer">
    <div class="container">
        <div class="row">
            <br/>
            <div class="col-md-9">
                <h4>About</h4>
                {% include 'about.html' %}
                <hr class="light">
                <div class="row">
                    <div class="col-md-3">
                        <a href="{% url 'about' %}"><h5>About Us</h5></a>
                    </div>
                    <div class="col-md-3">
                        <a href="{% url 'blog' %}"><h5>Blog</h5></a>
                    </div>
                    <div class="col-md-3">
                        <a href="{% url 'downloads' %}"><h5>Downloads</h5></a>
                    </div>
                    <div class="col-md-3">
                        <a href="{% url 'contact' %}"><h5>Contact us</h5></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <h4 class="short">Contact us</h4>
                <div class="contactus">
                    <p><i class="icon icon-map-marker"></i><br>40 Newlands Quay<br>E1W 3QZ, London<br>United Kingdom</p>
                    <!-- <p>&nbsp;</p> -->
                    <p><i class="icon icon-phone"></i> +44 77 863 18 504</li>
                    <p><i class="icon icon-envelope"></i> <a href="mailto:info@bimobject.com">info@archilizer.com</a></p>
                </div>
                <div class="icons">
                    <a href="https://www.facebook.com/archilizer" target="_blank" title="Facebook" style="margin-right:1em;"><i class="fa fa-facebook fa-2x"></i> </a>                
                    <a href="https://www.twitter.com/didonenov" target="_blank" title="Twitter"><i class="fa fa-twitter fa-2x"></i> </a>
                    {% comment %}
                    <li class="pinterest"><a href="https://www.pinterest.com/bimobject" target="_blank" title="Pinterest">Pinterest</a></li>
                    <li class="googleplus"><a href="https://www.google.com/archilizer" target="_blank" title="Google+">Google+</a></li>
                    <li class="youtube"><a href="https://www.youtube.com/user/BIMobject/videos" target="_blank" title="Youtube">Youtube</a></li>
                    <li class="linkedin"><a href="https://www.linkedin.com/company/bimobject" target="_blank" title="Linkedin">Linkedin</a></li>
                    <li class="flickr"><a href="https://www.flickr.com/bimobject" target="_blank" title="Flickr">Flickr</a></li>
                    {% endcomment %}
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                <div class="row">
                    <br>
                    <p>© 2015 Archilizer. All Rights Reserved.</p>                  
                </div>
            </div>
        </div>
    </div>
</footer>