{% extends 'layout.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block head_title %} {{ block.super }} | {{ title }} {% endblock %}

{% block jumbotron %}
<!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron box-shadow-content">
  		<div class="container">
	      <div class="row">
		      <div class="col-sm-9">
		        <h1>Archilizer</h1>
		        {% include 'about_home.html' %}
		        <br>
		          <a class="btn btn-lg btn-default" href="{% url 'registration_register' %}" role="button">Join us!</a>      	
		      </div>  
	      </div>    	
      	</div>
      </div>
{% endblock %}

{% block content %}

<style>
	body{   
	    background: url('{% static 'img/yemen.jpg' %}') no-repeat         
	        center center fixed;
	    -webkit-background-size: cover; 
	    -moz-background-size: cover; 
	    -o-background-size: cover; 
	    background-size: cover;          
	}	
	body{
		padding-top: 50px !important;
	}
	.jumbotron{
		background-color: #FFF;
	}
	.featured-container{
		background-color: #FFF;
		margin: auto;
		width:auto;
		padding: 20px 20px;
		border-top: solid 1px;
		border-color: #E1E1E1;
	}
	.box-shadow-content{
		box-shadow: 0px 4px 15px rgba(40,40,40, 0.4);
	}
</style>

<div class="col-sm-4">
	<div class="sign-up">
		<i class="fa fa-envelope-o fa-3x" style="color:#fff"></i>
		<h2 style="color:#FFF;"> Hello, stranger. </h2>
		<form method="POST" action=""> {% csrf_token %}
			{{ form|crispy }}
			<input class="btn btn-default" type="submit" value="Sign Up">
		</form>	      
	</div>
</div>
</div>

<div class="space" style="margin-bottom:20px;"></div>

<div class="row featured-container" id="activity">
	<div class="container">
	    <div class="col-sm-3">
	        <i class="fa fa-gears fa-3x"></i>
	        <h2>Revit Add-In</h2>
	        <p class="lead">Automatic Dimensions</p>
	    </div>
	    <div class="col-sm-3">
	        <i class="fa fa-gears fa-3x"></i>
	        <h2>This and that</h2>
	        <p class="lead">This section is about ...</p>
	    </div>
	    <div class="col-sm-3">
	        <i class="fa fa-gears fa-3x"></i>
	        <h2>This and that</h2>
	        <p class="lead">This section is about ...</p>
	    </div>
	    <div class="col-sm-3">
	        <i class="fa fa-gears fa-3x"></i>
	        <h2>This and that</h2>
	        <p class="lead">This section is about ...</p>
	    </div>
	</div>
</div>
<div class="row featured-container" id="activity">
	<div class="container">
	    <div class="col-sm-3">
	        <i class="fa fa-gears fa-3x"></i>
	        <h2>Revit Add-In</h2>
	        <p class="lead">Automatic Dimensions</p>
	    </div>
	    <div class="col-sm-3">
	        <i class="fa fa-gears fa-3x"></i>
	        <h2>This and that</h2>
	        <p class="lead">This section is about ...</p>
	    </div>
	    <div class="col-sm-3">
	        <i class="fa fa-gears fa-3x"></i>
	        <h2>This and that</h2>
	        <p class="lead">This section is about ...</p>
	    </div>
	    <div class="col-sm-3">
	        <i class="fa fa-gears fa-3x"></i>
	        <h2>This and that</h2>
	        <p class="lead">This section is about ...</p>
	    </div>
	</div>
</div>

{% endblock %}