{% extends 'layout.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block head_title %} {{ title }} {% endblock %}

{% block jumbotron %}
<!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron box-shadow-content">
  		<div class="container">
	      <div class="row">
		      <div class="col-sm-6">
		        <h1 class="front-title" style="transform: translate( 0%,40px);">Archilizer</h1>
		        <!-- {% include 'about_home.html' %}		         -->
		        <!--   <a class="btn btn-lg btn-default" href="{% url 'registration_register' %}" role="button">Join us!</a>    -->   	
		      </div>  
	      </div>    	
      	</div>
      </div>
{% endblock %}

<script>
{% block jquery %}
   $(".scroll").click(function(event){
         event.preventDefault();
         //calculate destination place
         var dest=0;
         if($(this.hash).offset().top > $(document).height()-$(window).height()){
              dest=$(document).height()-$(window).height() - 80;
         }else{
              dest=$(this.hash).offset().top - 80;
         }
         //go to destination
         $('html,body').animate({scrollTop:dest}, 1000,'swing');
     });
{% endblock %}
</script>

{% block content %}

<style>
/* Custom style because of backgorund */
	body{   
	    background: url('{% static 'img/yemen.jpg' %}') no-repeat         
	        center center fixed;
	    -webkit-background-size: cover; 
	    -moz-background-size: cover; 
	    -o-background-size: cover; 
	    background-size: cover;          
	}	
	body{
		padding-top: 50px !important;
	}
</style>

<div class="row">
	<div class="col-md-6 healthy">
		<span class="middle">
			<h2 class="white"> WE love COMPUTATION AND WE ARE NOT AFRAIND TO USE IT </h2>
			<br>
			<p class="about-home-p">
			 We do <strong>BIM</strong>, <strong>Revit</strong> and solve time-consuming problems in creative, computational ways.  We have a passion for novelty and sharing our knowledge with others.
			 <br><br>
			 Contact us if you want to use our training or development services. We'd <strong>love</strong> to help!
			</p>	
		</span>
	</div>
	<div class="col-md-6 healthy">
		<span class="middle-right">
			<span class="hvr-buzz-out">
				<a href="{% url 'contact' %}">
					<img class='svg' id="fill" src="{% static 'img/computer.svg' %}" alt='contact us buzzing computer'>
				</a>
			</span>
		</span>
	</div>
</div>
{% endblock %}

{% block sub-content %}
<div class="row featured-container">
	<div class="col-sm-12">
		<span class="text-align-center">
			<a class="scroll" href="#we-do">
				<div class="scroll-down">
					<!-- <i class="fa fa-chevron-down"></i>			 -->
				</div>
			</a>
			<h2 style="margin-top:3em; margin-bottom: 2em; font-weight:700;" id="we-do"> WHAT WE DO </h2>
		</span>
		<div class="container">
			<hr>
		</div>
	</div>
	<div class="container default-container">
		<div class="col-sm-6">
			<h3 class="text-align-center" style="margin-bottom:0.8em;"> Training </h3> 
			<p> We work with individuals as well as with architecture practices; whichever the case, we can provide you with our best <strong>Revit</strong> training and <strong>BIM</strong> implementation services. Our approach is based on understanding your unique requirements and we will adapt our ways in order to achieve the most fulfilling experience for you. </p>
			<p> We are deeply pationate about the process of learning and we will lead you through the difficult path of acquiring new skill. </p>
			<br>
		</div>
		<div class="col-sm-6">
			<h3 class="text-align-center" style="margin-bottom:0.8em;"> Development </h3> 
			<p> If you didn't know that by now, we love coding! We develop custom tools to provide architects with really unique ways to achieve their specific goals. We have written interactive and playful <strong>Processing</strong> snippets, we have taken our prototypes out there using <strong>Arduino</strong> (Genuino, cough), we develop <strong>Revit Add-Ins</strong> using <strong>C#</strong> and the Revit API and we have also done all the work for this website using <strong>Python</strong> and the all-mighty <strong>Django</strong>. Whichever direction your project takes you, we are ready to follow.</p>
			<br>
		</div>
	</div>
</div>
<div class="row featured-container" id="activity">
	<div class="container">
		<div class="col-sm-6">
			<i class="fa fa-graduation-cap fa-2x" style="color:#8E8E8E;"></i>			
		</div>
		<div class="col-sm-6">
			<i class="fa fa-gears fa-2x" style="color:#8E8E8E;"></i>
		</div>
	<div class="container" style="margin-top:8em;"><hr></div>

	<h2 style="margin-top:3em; margin-bottom: 2em; font-weight:700;" id="we-do"> RECENT ACTIVITY </h2>
	    <div class="col-sm-3">
	    	<div class="col-bombon">
	        <h2 class="h2-buttons">Revit <br> 101</h2>
	        <i class="fa fa-graduation-cap fa-3x fa-button"></i>    
            <a href="{% url 'module' 1 %}">
                <span class="panel"></span>
            </a>	
	        </div>	 
	    </div>
	    <div class="col-sm-3">
	    	<div class="col-bombon">
	        <h2 class="h2-buttons">Revit <br> Intermediate</h2>
	        <i class="fa fa-graduation-cap fa-3x fa-button"></i>
            <a href="{% url 'module' 2 %}">
                <span class="panel"></span>
            </a>	
	        </div>	      
	    </div>
	    <div class="col-sm-3">
	    	<div class="col-bombon">
	        <h2 class="h2-buttons">Revit <br> Bespoke</h2>
	        <i class="fa fa-graduation-cap fa-3x fa-button"></i>   
            <a href="{% url 'module' 3 %}">
                <span class="panel"></span>
            </a>	
	        </div>	
	    </div>
	    <div class="col-sm-3">
	    	<div class="col-bombon">
	        <h2 class="h2-buttons">Revit <br> Implentation</h2>
	        <i class="fa fa-graduation-cap fa-3x fa-button"></i> 
            <a href="{% url 'module' 4 %}">
                <span class="panel"></span>
            </a>	
	        </div>	
	    </div>
	</div>
</div>
<div class="row featured-container" id="activity">
	<div class="container" style="margin-top:0.8em;">
	    <div class="col-sm-3">
	    	<div class="col-bombon">
	        <h2 class="h2-buttons"> {{ posts.1.title }} </h2>
	        <i class="fa fa-book fa-3x fa-button"></i>    
            <a href="{% url 'blog-post' 1 %}">
                <span class="panel"></span>
            </a>	
	        </div>	 
	    </div>
	    <div class="col-sm-3">
	    	<div class="col-bombon">
	        <h2 class="h2-buttons">{{ posts.2.title }}</h2>
	        <i class="fa fa-book fa-3x fa-button"></i>
            <a href="{% url 'blog-post' 2 %}">
                <span class="panel"></span>
            </a>	
	        </div>	      
	    </div>
	    <div class="col-sm-3">
	    	<div class="col-bombon">
	        <h2 class="h2-buttons">{{ posts.3.title }}</h2>
	        <i class="fa fa-book fa-3x fa-button"></i>   
            <a href="{% url 'blog-post' 3 %}">
                <span class="panel"></span>
            </a>	
	        </div>	
	    </div>
	    <div class="col-sm-3">
	    	<div class="col-bombon">
	        <h2 class="h2-buttons">{{ posts.4.title }}</h2>
	        <i class="fa fa-book fa-3x fa-button"></i> 
            <a href="{% url 'blog-post' 4 %}">
                <span class="panel"></span>
            </a>	
	        </div>	
	    </div>
	</div>
</div>

<div class="row bottom-container grey-container">
<div class="empty"></div>
	<div class="container">
	<hr>
		<div class="col-sm-6 col-sm-offset-3">
			<div class="sign-up text-center">
			<h2><i class="fa fa-envelope-o fa-1x" style=""> </i>
				Hello, stranger. </h2>
				<p class="lead"> You can subscribe to our newsletter here.</p>
				<form method='POST' action='{% url "home" %}'>{% csrf_token %}
<!-- 					<div class='form-group'>
         				<input type='text' class='form-control' name='full_name' placeholder='Name' />
					</div>
					<div class='form-group'>
         				<input type='text' class='form-control' name='email' placeholder='Email' />
					</div> -->
					{{ form|crispy }}
					<input class="btn btn-default" type="submit" value="Sign Up">
				</form>	      
			</div>
		</div>
	</div>
</div>
{% endblock %}
<!-- 
<form class='navbar-form navbar-right' method='POST' action='{% url "auth_login" %}'> {% csrf_token %}
        <div class='form-group'>
          <input type='text' class='form-control' name='username' placeholder='Username' />
        </div>
        <div class='form-group'>
          <input type='text' class='form-control' name='password' placeholder='Password' />
        </div>
      <button type='submit' class='btn btn-default' style="margin-top:0;">Login</button>
      </form>    -->