{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Archilizer provides highly personalized Revit training and BIM implementation services for individuals and architecture practices. Based in London.">
    <meta name="author" content="Deyan Nenov">
    <link rel="shortcut icon" href="{% static 'img/A-logo.ico' %}" alt="fav-icon">

    <title>{% block head_title %} | Archilizer{% endblock %}</title>

    {% include 'head_css.html' %}
    <script>
    $(document).ready(function(){
      {% block jquery %}{% endblock %}
    });
    </script>
    <script type="text/javascript">
      $(document).ready(function(){

        // $("#myModal").modal('show');
      if (!sessionStorage.alreadyClicked) {
        $("#myModal").modal('show');
        sessionStorage.alreadyClicked = 1;
      }

      });
    </script>
    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="{% static 'js/ie-emulation-modes-warning.js' %}"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    {% include 'modal.html' %}
    <div class="wrapper">
    	{% include 'navbar.html' %}
      {% block jumbotron %}{% endblock %} 
    	<div class="container">
        <!-- Content in container  -->
        {% block content %}{% endblock %}	
      </div>
      <div class="sub-content">
      <!-- Content outside container -->
      {% block sub-content %}{% endblock %} 
      </div>
    </div>
    <div class="footer">
      {% include 'footer.html' %}
      {% include 'java_script.html' %}
    </div>
  </body>
</html>





